<div class="form-check">
    <input id="bun{{id}}" class="form-check-input" type="radio" name="bun" value="{{id}}">
    <label class="form-check-label" for="bun{{id}}">
        {{bun}}
    </label>
</div>