<div class="form-check">
    <input id="topping{{id}}" type="radio" class="form-check-input" name="topping" value="{{id}}">
    <label class="form-check-label" for="topping{{id}}">
        {{topping}}
    </label>
</div>